<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{%endblock%}Random blog page</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/blog.css">

    <style>
        /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

        body {
            font-family: 'Poppins', sans-serif;
        } */

        nav.navbar {
            height: 6rem !important;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1), 0 2px 3px 0 rgba(0, 0, 0, .06) !important;
        }
    </style>
</head>

<body style="background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
">

    <nav class="navbar" style="background-color: #FFDEE9;
    background-image: linear-gradient(to left, #FFDEE9 0%, #B5FFFC 100%); 
    position:fixed; top:0; width: 100%;
    ">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="https://cdn-icons-png.flaticon.com/512/4922/4922073.png" style="margin-right: 5px; height: auto; 
                    width: auto; 
                    max-width: 70px; 
                    max-height: 70px;">
                    <strong style="font-size: 20px;">Random Blog Page</strong>
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>

            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <div class=" navbar-item">
                        <form method="get" action="{% url 'search' %}">
                            <div class="control has-icons-left">
                                <input class="input is-rounded" name="query" type="text" placeholder="Search">
                                <span class="icon is-left">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </form>
                    </div>

                    <a href="/" class="navbar-item is-size-5 has-text-weight-semibold">
                        Home
                    </a>
                    <!-- <a href="{% url 'about' %}" class="navbar-item is-size-5 has-text-weight-semibold">
                        About
                    </a> -->

                    {% if user.is_authenticated %}
                    <div class="navbar-item is-size-5 has-text-weight-semibold has-dropdown is-hoverable">
                        <a class="navbar-link">Hello, {{user.get_username}}</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item is-size-5 has-text-weight-semibold">Profile</a>
                            <a href="{% url 'logout' %}" class="navbar-item is-size-5 has-text-weight-semibold">Log
                                out</a>
                        </div>
                    </div>
                    {% else %}
                    <a href="{% url 'login' %}" class="navbar-item is-size-5 has-text-weight-semibold">Login</a>
                    <a href="{% url 'register' %}" class="navbar-item is-size-5 has-text-weight-semibold">Sign up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top:95px; min-height:540px; ">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer" style="background-color: #FFDEE9;
    background-image: linear-gradient(to left, #FFDEE9 0%, #B5FFFC 100%); margin-top: 20px; max-height: 30px;">
        <div class="content has-text-centered">
            <strong>
                Random blog application for class INT2211 24 - UET
            </strong>
        </div>
    </footer>

</body>

</html>