{% extends 'core/base.html' %}

{% block title %}Login | {%endblock%}

{% block content %}

{% load crispy_forms_tags %}

<style>
    .container {
        text-align: center;
    }

    button {
        margin-top: 10px;
    }
</style>

<div class="container py-5">
    <strong>Login</strong>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy}}
        <button class="button is-primary" type="submit">Login</button>
    </form>
    <p class="text-center">Don't have an account yet? <a href="/register">Create an account</a>.</p>
</div>
{%endblock%}