{% extends 'core/base.html' %}

{% block title %}{{post.title}} | {%endblock%}

{% block content %}

{% load crispy_forms_tags %}


<section class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">

                <div class="columns">

                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">

                            <div class="card article box">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <h2 class="subtitle is-5 has-text-grey">{{post.created_at|date:'H:i d-m-Y'}}
                                            </h2>
                                            <h1 class="title has-text-black is-3">{{post.title}}</h1>
                                            <p><small>Category: <a href="{% url 'category_detail' post.category.slug %}"
                                                        class="has-text-weight-semibold">{{post.category}}</a></small>
                                            </p>
                                            {% if post.author %}
                                            <h1 class="title has-text-grey is-5">Posted by: {{post.author}}</h1>
                                            {% endif %}
                                            <p><strong>{{post.intro}}</strong> </p>

                                            <p>{{post.body}}</p>

                                            {% if post.author == user %}
                                            <a href="{% url 'delete_post' post.id %}">Delete</a>
                                            {% endif %}

                                            {% if post.image %}
                                            <figure class="image mb-6">
                                                <img src="{{ post.image.url }}">
                                            </figure>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <h2 class="subtitle is-4">Comments</h2>

                            {% if user.is_authenticated %}
                            <form method="post" class="mb-6">
                                <style scoped>
                                    input {
                                        width: 100%;
                                    }
                                </style>
                                {% csrf_token %}
                                {{ form.body }}

                                <div class="field">
                                    <div class="control">
                                        <button class="button is-success" style="margin-top: 10px">Submit
                                            comment</button>
                                    </div>
                                </div>
                            </form>
                            {% else %}
                            <a href="{% url 'login' %}" class="has-text-weight-semibold">Login to add your own
                                comments!!!</a>
                            {% endif %}
                            <hr>

                            {% for comment in post.comments.all %}
                            <article class="media box">
                                <div class="media-content">
                                    <strong>{{comment.author}}</strong>
                                    <small>{{comment.created_at|timesince}} ago</small>
                                    <br>
                                    {{comment.body}}
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- <div class="column is-5">
                        <div class="content is-medium">
                            <h2 class="subtitle is-5 has-text-grey">December 25, 2022</h2>
                            <h1 class="title has-text-black is-3">Getting Started</h1>
                            <p class="has-text-dark">This is a starter template for creating a beautiful, customizable
                                blog with
                                minimal
                                effort. You’ll only have to change a few settings and you’re ready to go. As with all
                                Jigsaw sites,
                                configuration settings can be found in config</p>
                        </div>
                    </div> -->
                </div>
            </section>
        </div>
    </div>
</section>
{%endblock%}