{% extends 'core/base.html' %}

{% block title %}{{post.title}} | {%endblock%}

{% block content %}

{% load crispy_forms_tags %}


<section class="hero" style="margin-top: -60px">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                            <div class="card article box">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">

                                            <h2 class="subtitle is-5 has-text-grey">{{post.created_at|date:'H:i d-m-Y'}}
                                                {% if post.author == user %}
                                                <a href="{% url 'delete_post' post.id %}" style="float:right">Delete</a>
                                                {% endif %}
                                            </h2>

                                            <h1 class="title has-text-black is-3" style="margin-bottom:5px">
                                                {{post.title}}
                                                {% if post.author == user %}
                                                {% if post.status == 'draft' %}
                                                <a href="{% url 'set_active' post.id %}"
                                                    style="float:right; font-size: 20px;margin-top:5px">Set active</a>
                                                {% endif %}
                                                {% if post.status == 'active' %}
                                                <a href="{% url 'set_draft' post.id %}"
                                                    style="float:right; font-size: 20px;margin-top:5px">Hide</a>
                                                {% endif %}
                                                {% endif %}
                                            </h1>

                                            <p><small>Category: <a href="{% url 'category_detail' post.category.slug %}"
                                                        class="has-text-weight-semibold">{{post.category}}</a></small>
                                            </p>

                                            <h1 class="title has-text-grey is-5">Posted by: <a
                                                    href="{% url 'profile' post.author.username %}">{{post.author}}</a>
                                            </h1>

                                            <p><strong>{{post.intro}}</strong> </p>

                                            <p>{{post.body}}</p>

                                            {% if post.image %}
                                            <figure class="image mb-6">
                                                <img src="{{ post.image.url }}">
                                            </figure>
                                            {% endif %}


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <h2 class="subtitle is-4">Comments</h2>

                            {% if user.is_authenticated %}
                            <form method="post" class="mb-6">
                                {% csrf_token %}
                                <lable></lable>
                                {{ form.body }}

                                <div class="field">
                                    <div class="control">
                                        <button class="button is-success" style="margin-top: 10px">Submit
                                            comment</button>
                                    </div>
                                </div>
                            </form>
                            {% else %}
                            <a href="{% url 'login' %}" class="has-text-weight-semibold">Login to add your own
                                comments!!!</a>
                            {% endif %}
                            <hr>

                            {% for comment in post.comments.all %}
                            {% if not comment.parent %}
                            <article class="media box">
                                <div class="media-content">
                                    <strong>{{comment.author}}</strong>
                                    <small>{{comment.created_at|timesince}} ago</small>
                                    {% if post.author == user or comment.author == user %}
                                    <a href="{% url 'delete_comment' post.id comment.id %}"
                                        style="float:right; font-size:15px">Remove</a>
                                    {% endif %}
                                    <br>
                                    {{comment.body}}
                                    {% for reply in comment.replies.all %}
                                    <article class="media box" style="background-color: rgba(211, 211, 211, 0.767);">
                                        <div class="media-content">
                                            <strong>{{reply.author}}</strong>
                                            <small>{{reply.created_at|timesince}} ago</small>
                                            {% if post.author == user or reply.author == user %}
                                            <a href="{% url 'delete_comment' post.id reply.id %}"
                                                style="float:right; font-size:15px">Remove</a>
                                            {% endif %}
                                            <br>
                                            {{reply.body}}
                                        </div>
                                    </article>
                                    {% endfor %}
                                    <form method="post">
                                        
                                        {% csrf_token %}
                                        {{ form.body }}
                                        <!-- Hidden input for parent comment.id -->
                                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                        <input class="button is-success" type="submit" value="Reply">
                                    </form>
                                </div>
                            </article>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{%endblock%}